 <!-- {%block footer%} -->


 <footer>
  <div class="container-fluid footer">
    <div class="row">
      <div class="col-md-12 text-center footer-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col md-12 text-center">
        <div class="glyphllink"><i class="glyphicon glyphicon-font"></i><i class="glyphicon glyphicon-font"></i><i class="glyphicon glyphicon-font"></i><i class="glyphicon glyphicon-font"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright © 2016 Woovly. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>