<html>

<head>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="" rel="shortcut icon">
<script src="/bower_components/angular/angular.min.js"></script>
    <script src="/javascripts/places.js"></script>

</head>
<body>
<div ng-app="placesModule" ng-controller="placesController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">PropGod</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/college">college</a></li>
          <li><a href="/school">school</a></li>
          <li class="active"><a href="/places">Tourism</a></li>
          <li><a href="/internship">internship</a></li>
          <li><a href="/company">job</a></li>
          <li><a href="/services">services</a></li>
        </ul>
      </div>
    </nav>

<div class="container">
  <br><br><br><br>
    
<div class="row">
        <div class="input-group">
            <input type="text" name="" class="searchbar form-control form-controls input-lg" ng-model="searchBox" placeholder="enter city, district, state...">
            <span class="input-group-btn">
                <button class="btn btn-success form-controls input-lg" ng-click="searchButton()">Search</button>
            </span>
        </div>
    </div>

</div>
 <br>

    <div ng-show="searchButtonShow">
        <div class="large-10 columns" ng-show="searchButton">
        <table>
            <caption><h3>list of desired places</h3></caption>
            <thead>
                <tr>
                    <th width="200px">Name</th>
                    <th width="200px">address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='names in name'>
                    <td><h5 ng-bind="names.name"></h5></td>
                    <td>
                        <h5 id="id2" ng-bind="names.city"></h5>
                        <h5 id="id1" ng-bind="names.district"></h5>
                        <h5 id="id1" ng-bind="names.state"></h5>
                    </td>
                </tr>
            </tbody>
        </table>

        </div>
    </div>


</div>
</body> 
</html>    


